@{
    ViewData["Title"] = "Flashcards";
}

<div class="text-center main-content" id="study">
    <h1 class="text-center display-1 title">Brain Bolt</h1>
    <div class="full-row icon-row">
        <img src="~/img/logo.png" alt="Brain Bolt Logo" />
        <h3>Flash Cards Have Been Generated</h3>
    </div>
    <h3>20 Flash Cards Ready.</h3>
    <h3></h3>
    <div id="flashcards" class="flashcards">
        <div class="boarder">
            <h5>Subject: American History</h5>
            <h5>Question 1 of 20</h5>
            <h2>What war was fought in 1812?</h2>
            <h2></h2>
        </div>
        <button class="flip-card-btn">Click to Flip Card</button>
        <button class="quiz-mode-btn">Swap to Quiz Mode</button>
    </div>
</div>
