@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Brain Bolt</h1>
    <a asp-controller="Home" asp-action="Study" target="_blank">
    <img class="img-fluid" src="img/logo.png"/>
    </a>
    <h2 class="display-4">Click Brain to Begin</h2>
</div>
