@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="home">
    <h1 class="text-center pt-5 title">Brain Bolt</h1>
    <a asp-controller="Home" asp-action="Index">
    <img class="img-fluid" id="brain-img" src="img/logo.png"/>
    </a>
    <h2 class="click-brain">Click Brain to Begin</h2>
</div>
