@{
    ViewData["Title"] = "Home";
}

<div class="text-center" id="home">
    <h1 class="text-center display-1 title">Brain Bolt</h1>
    <div>
        <a id="brain-link" asp-controller="Account" asp-action="Login" >
            <img class="img-fluid" id="brain-img" src="img/logo.png" />
        </a>
    </div>
    <h2 class="click-brain display-4 pb-2">Click Brain to Begin</h2>
</div>
