@{
    ViewData["Title"] = "Quiz";
}

<div class="text-center main-content" id="study">
    <h1 class="text-center display-1 title">Brain Bolt</h1>
    <div class="full-row icon-row">
        <img src="~/img/logo.png" alt="Brain Bolt Logo" />
        <h3>Quiz Has Been Generated</h3>
    </div>
    <h3>20 Questions Are Ready.</h3>
    <h3></h3>
    <div class="quiz-container">
        <div class="question-container">
            <h4 class="question">Subject: American History Question 1 of 20
            </h4>
            <h4 class="question">What war was fought in 1812?</h4>
        </div>

        <div class="options">
            <button class="option">Answer 1</button>
            <button class="option">Answer 2</button>
            <button class="option">Answer 3</button>
            <button class="option">Answer 4</button>
        </div>

        <div class="navigation">
            <button class="nav-button" id="prev">Previous Question</button>
            <button class="nav-button" id="next">Next Question</button>
        </div>
    </div>
        <button class="flip-card-btn">Swap To Flash Card Mode</button>
        <button class="result-mode-btn">Back To Results </button>
    <div class="full-row icon-row">
        <img src="~/img/logo.png" alt="Brain Bolt Logo" />
        <h3>Want To Add or Change Subjects?</h3>
    </div>
    <div class="full-row icon-row">
        <h3>Make It Longer or Shorter?</h3>
    </div>
    <div class="full-row icon-row">
        <h3>More Specific Questions?</h3>
    </div>
    <div class="full-row icon-row">
        <h3>Let Me Know!</h3>
    </div>
        <input class="full-row" name="studyTopic" placeholder="Type Response Here" />
    </div>
</div>
