@{
    ViewData["Title"] = "Results";
}

<div class="text-center main-content" id="study">
    <h1 class="text-center display-1 title">Brain Bolt</h1>
    <div class="full-row icon-row">
        <!--The line below is not working for me, pls fix-->
        <img src="~/img/logo.png" alt="Brain Bolt Logo" />
        <h3>Quiz Has Been Submitted!</h3>
    </div>
    <div class="quiz-container">
        <div class="question-container">
            <h4 class="printwhite">Results</h4>
            <h4 class="printwhite">Congrats!</h4>
            <!---Insert Variable that stores the number of questions for a quiz, and how many questions were answered correctly in h4 below--->
            <h4 class="printwhite">Final Score: 15/20</h4>
            <br></br>
            <h4 class="printwhite">Would you Like to Try Again?</h4>
            <!--You will have to get a "restart arrow" from the web and insert it here-->
            <button class="q-nav-button"><img class="midsize" src="img/arrow.png" alt="Restart?"></button>
        </div>
    </div>
    <button class="result-mode-btn">Review Missed Questions</button>
    <button class="result-mode-btn">Generate New Quiz</button>
    <button class="result-mode-btn">Generate Flash Cards</button>

    <div id="bottomfooter"></div>
</div>