@model string

@{
    ViewData["Title"] = "Quiz";
}

<div class="text-center main-content" id="study">
    <h1 class="text-center display-1 title">Brain Bolt</h1>
    <div class="full-row icon-row">
        <img src="~/img/logo.png" alt="Brain Bolt Logo" />
        <h3>Quiz Has Been Generated</h3>
    </div>
    <h3>@ViewBag.QuestionAmount Questions Ready on @ViewBag.StudyTopic.</h3>
    <div class="quiz-container">
        @{
            var questions = Model.Split(new[] { "\n\n" }, StringSplitOptions.RemoveEmptyEntries);
            int index = 1;
        }
        @foreach (var questionBlock in questions)
        {
            <div class="question-container">
                <h4 class="question">Question @index of @ViewBag.QuestionAmount</h4>
                <p>@questionBlock</p>
            </div>
            index++;
        }
    </div>
</div>
