/* global */

* {
    margin: 0;
    padding: 0;
    font-family: 'Showcard Gothic', fantasy;
}

body {
    min-height: 100vh;
}

main {
    background-image: linear-gradient(#61448d, #151426);
    min-height: 100vh;
}

header {
    position: fixed;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    color: #ebde13;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    margin: 0;
}

input, #study button, .login-view #study-content a, .link-buttons a {
    background-color: black;
    border-radius: 3px;
    border: 2px solid #ebde13;
    color: white;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.main-content {
    width: 75vw;
    margin: 0 auto;
}

@media screen and (max-width: 625px) {
    .main-content {
        width: 90vw;
    }
}

input::placeholder {
    color: white;
}

    /* menu */
    #open-menu {
        position: fixed;
        margin: 30px 40px;
        color: #ebde13;
        background-color: transparent;
        border: 0px;
    }

#hamburger-icon div {
    width: 35px;
    height: 8px;
    background-color: #ebde13;
    margin: 6px 0;
    border: 2px solid black;
}

#header {
    display: block;
    height: 100%;
}

#side-menu {
    position: fixed;
    width: 250px;
    background-image: linear-gradient(to right, #412863, #1e1232);
    color: #ebde13;
    position: absolute;
    height: 100%;
    -webkit-text-stroke-width: 2px !important;
    -webkit-text-stroke-color: black;
    padding: 10px;
    margin-left: -250px;
    transition: transform 1s ease;
}

#menu-title {
    margin-top: 10px;
    font-size: 4rem;
}

#side-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#side-menu a {
    font-size: 2rem;
    text-decoration: none;
    color: #ebde13;
    -webkit-text-stroke-color: black;
    display: inline-block;
    width: 100%;
    border: 2px solid transparent;
}

    #side-menu a:hover, .close-menu:hover {
        background-color: black;
        border-radius: 3px;
        border: 2px solid #ebde13;
    }

.close-menu {
    -webkit-text-stroke-width: 1px !important;
    background-color: transparent;
    color: #ebde13;
    border: none;
    font-size: 1.1rem;
    padding: 10px;
    display: inline-block;
    width: 100%;
    border: 2px solid transparent;
    line-height: 10px;
}

/* index */

#home, .outer-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    object-fit: contain;
}

.click-brain {
    padding-top: 20px;
    margin-bottom: 0;
/*    font-size: 4rem;*/
}

.title {
    font-size: calc(2.625rem + 4.5vw);
    margin-top: 10vh;
    margin-bottom: 4vh;
}

#brain-link {
    display: inline-block;
    width: auto;
}

/*#brain-img {
    max-height: 275px;
}*/

/* study */

#study {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#study h3 {
    -webkit-text-stroke-width: 2px !important;
    font-size: calc(1rem + 1.5vw);
}

    #study input, #study button, .login-view #study-content a {
        font-size: calc(0.75rem + 1.5vw);
    }

#study h4 {
    font-size: calc(0.85rem + 0.4vw);
    -webkit-text-stroke-width: 1.5px !important;
}

    #study button:hover, .login-view #study-content a:hover, .link-buttons a:hover {
        background: rgba(35, 22, 59, 1)
    }

#study-content {
    margin: 10px auto;
    display: grid;
    column-gap: 5px;
    row-gap: 2vh;
    grid-template-columns: 40% 20% 40%;
}

#study img {
    width: 36px;
    height: 36px;
    align-self: auto;
    margin-right: 4px;
}

.full-row {
    grid-column: 1 / 4;
}

#study-amount {
    grid-column: 2;
    grid-row: 4;
}

#gen-flash {
    grid-column: 1;
    grid-row: 5;
}

#gen-quiz {
    grid-column: 3;
    grid-row: 5;
}

.icon-row {
    display: flex;
    justify-content: center;
}

/* FLash Cards */
#flashcards {
    display: flex;
    flex-direction: column;
    color: white;
}
.flashcards {
    display: grid;
    padding: 10px;
    place-items: center;
    text-align: center;
}

#flashcards h5 {
    font-size: calc(0.85rem + 0.4vw);
}

.boarder {
    flex-direction: column;
    padding: 10px;
    background-color: black;
    border-radius: 3px;
    border: 2px solid #ebde13;
    color: white;
    text-align: center;
    width: 80%;
    align-items: center;
}

    .boarder h4 {
        font-size: calc(0.85rem + 0.4vw);
    }

    .boarder h2 {
        color: white;
        -webkit-text-stroke-width: 0px;
        margin: 0;
        font-size: 1.8rem;
        margin: 10px 0;
    }

.flip-card-btn,
.quiz-mode-btn {
    background-color: black;
    color: #ffd700;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
    align-items: center;
}

    .flip-card-btn:hover,
    .quiz-mode-btn:hover {
        background-color: #ffd700;
        color: black;
    }

.quiz-mode-btn {
    margin-top: 30px;
}

/* Quiz Container */
.quiz-container {
    flex-direction: column;
    padding: 10px;
    background-color: black;
    border-radius: 3px;
    border: 2px solid #ebde13;
    color: white;
    text-align: center;
    width: 80%;
    align-items: center;
    margin: auto;
}

/* Question Styling */
.question-container {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;

}

.question {
    font-size: 20px;
    color: #ffff;
}

/* Options Styling */
.options {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.option {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

    .option:hover {
        background-color: #45a049;
    }

/* Results Page*/
.printwhite {
    font-size: 3em;
    color: #fff;
}

.q-nav-button {
    margin-left: 80%;
}

#bottomfooter {
    margin-bottom: 20%;
}


/* Navigation Styling */
.navigation {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

    .nav-button:hover {
        background-color: #0056b3;
    }

    .nav-button:disabled {
        background-color: #aaa;
        cursor: not-allowed;
    }

.result-mode-btn {
    background-color: black;
    color: #ffd700;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
    align-items: center;
}

    .result-mode-btn:hover {
        background-color: #ffd700;
        color: black;
    }

.result-mode-btn {
    margin-top: 30px;
}

.login-view label {
    color: #ebde13;
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black;
    font-size: 20px;
}

.login-view #study-content {
    margin-top: 10px !important;
    row-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
}

    .login-view #study-content ul {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
    }

    .login-view #study-content button {
        text-decoration: none;
        grid-row: 8;
        grid-column: 2;
    }

.login-view #study-content a {
    text-decoration: none;
    grid-row: 9;
    grid-column: 2;
}

    .register-view #study-content button {
        text-decoration: none;
        grid-row: 11;
        grid-column: 2;
    }

    .register-view #study-content a {
        text-decoration: none;
        grid-row: 12;
        grid-column: 2;
    }

    #flashcards:hover {
        cursor:pointer;
    }

    #flashcards-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

#flashcards-grid a {
    text-decoration: none;
    display: inline;
    align-self: center;
    padding: 10px;
}

#flashcards-grid .previous {
    grid-column: 1;
}

#flashcards-grid .flashcards {
    grid-column: 2 / 5;
    justify-self: stretch;
}
#flashcards-grid .flashcards .boarder {
    width: 100%;
}

#flashcards-grid .next {
    grid-column: 5;
}

#flashcards-grid #finish{
    grid-column: 3;
}

.q-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

    #questions .q-title {
        color: white;
        font-size: 24px;
        -webkit-text-stroke-width: 0 !important;
        /*    -webkit-text-stroke-color: white;*/
/*        grid-column: 1/3*/
    }

    #questions .q-option {
        font-size: 18px;
        border: 2px solid #ebde13;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        padding: 5px;
        cursor: pointer;
    }

        .q-option input {
            height: 0;
        }

        #questions .q-option:hover {
            border: 2px solid white;
            cursor: pointer;
        }

        .q-option:has(> input:checked) {
            border: 2px solid white !important;
        }

.quiz-container {
    grid-column: 2 / 5;
    width: 100%;
}

.next, .previous {
    align-self: center;
}

#flashcards-grid button {
    font-size: 24px;
    padding: 5px;
}

#flashcard-text {
    font-size: 24px;
}

@media screen and (max-width: 560px) {
    #flashcards-grid .previous {
        grid-column: 2 / 5;
    }

    #flashcards-grid .flashcards, .quiz-container {
        grid-column: 1 / 6;
    }

    #flashcards-grid .next {
        grid-column: 2 / 5;
    }

    #flashcards-grid #finish {
        grid-column: 2 / 5;
    }
}

@media screen and (max-width: 440px) {
    .q-grid .q-option {
        grid-column: 1 / 3;
    }

    .q-grid {
        row-gap: 10px;
    }
}

.result-text h4{
    font-size: 30px !important;
}

.link-buttons a {
    text-decoration: none;
    font-size: 24px !important;
}
.link-buttons a:hover {
    color: white;
}

.q-option:has(> .review-correct) {
    border-color: white !important;
}

.q-option:has(> .review-incorrect) {
    border-color: #d71f25 !important;
}