/* global */

* {
    margin: 0;
    padding: 0;
    font-family: 'Showcard Gothic', fantasy;
}

body {
    min-height: 100vh;
}


main {
    background-image: linear-gradient(#61448d, #151426);
    min-height: 100vh;
}

h1, h2, h3, h4 {
    color: yellow;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    margin: 0;
}

/* menu */

#open-menu {
    position: absolute;
    margin: 30px 40px;
    color: yellow;
    background-color: transparent;
    border: 0px;
}

#hamburger-icon div {
    width: 35px;
    height: 8px;
    background-color: yellow;
    margin: 6px 0;
    border: 2px solid black;
}

#side-menu {
    width: 250px;
    background-image: linear-gradient(to right, #412863, #1e1232);
    color: yellow;
    position: absolute;
    height: 100%;
    -webkit-text-stroke-width: 2px !important;
    -webkit-text-stroke-color: black;
    padding: 10px;
    margin-left: -250px;
    transition: transform 1s ease;
}

#menu-title {
    margin-top: 10px;
    font-size: 4rem;
}

#side-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#side-menu a {
    font-size: 2rem;
    text-decoration: none;
    color: yellow;
    -webkit-text-stroke-color: black;
    display: inline-block;
    width: 100%;
    border: 2px solid transparent;
}

#side-menu a:hover, #close-menu:hover {
    background-color: black;
    border-radius: 5px;
    border: 2px solid yellow;
}

#close-menu {
    -webkit-text-stroke-width: 1px !important;
    background-color: transparent;
    color: yellow;
    border: none;
    font-size: 1.1rem;
    padding: 10px;
    display: inline-block;
    width: 100%;
    border: 2px solid transparent;
    line-height: 10px;
}

/* index */

#home {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}

.click-brain {
    padding-top: 20px;
    margin-bottom: 0;
    font-size: 4rem;
}

.title {
    font-size: 6rem;
}

#brain-img {
    height: 100%;
}

@media screen and (max-width: 600px) {
    #brain-img {
        height: 100vw;
    }

    #home {
        grid-template-rows: 1fr 2fr 1fr;
    }
}

@media screen and (max-width: 425px) {
    #home {
        grid-template-rows: 1fr 1fr 1fr;
    }
    .click-brain {
        padding-top: 15px;
        font-size: 3rem;
    }

    .title {
        font-size: 4rem;
    }
}